 /**
 * 通用css样式布局处理
 */
 
 .el-pagination {
     padding: 10px 15px!important;
 }
 
 .el-table th {
     color: #565656!important;
     padding: 2px 0!important;
     background-color: #f7f8fe!important
 }
 
 .el-table--border th,
 .el-table--border td {
     border-right: 1px solid #ebeef5!important;
 }
 
 .el-table--group,
 .el-table--border {
     border: 1px solid #ebeef5!important;
     ;
 }
 
 .el-table .caret-wrapper {
     width: 14px!important;
     margin-left: 5px;
 }
 
 .el-table .sort-caret {
     left: 2px!important;
 }
 
 .wrapperbox>.el-row {
     height: 100%;
 }
 
 .treebox {
     .el-tree {
         padding: 10px;
         box-sizing: border-box;
     }
 }
 
 .bg-white {
     background: #fff;
     border-radius: 3px;
     margin-bottom: 10px;
 }
 
 .comheight {
     margin-bottom: 0;
     height: 100%
 }
 
 .infobox {
     line-height: 1.5;
     padding: 15px 20px;
     height: 100%;
     overflow: auto;
 }
 
 .equipInfobox {
     text-align: left;
     padding: 0 20px;
     font-size: 14px;
     h6 {
         font-size: 14px;
         margin: 0 0 10px;
         ;
     }
     .el-col {
         margin-bottom: 10px;
         label {
             background: #f5f5f5;
             display: inline-block;
             margin-right: 10px;
             min-width: 100px;
             padding: 5px 5px;
             border-radius: 3px;
             text-align: center;
             font-weight: normal;
         }
         span {
             display: inline-block;
         }
     }
 }
 
 .search-box {
     background: #fff;
     padding: 20px 20px 10px;
     margin-bottom: 20px;
     box-shadow: 0px 2px 4px #f5f5f5;
     border-radius: 4px;
     .el-form {
         .el-form-item {
             margin-bottom: 10px;
         }
     }
 }
 
 .el-form {
     padding-right: 2%;
 }
 
 .el-form-item__label {
     font-weight: normal;
 }
 
 .search-box {
     .el-dropdown {
         margin-right: 10px;
     }
 }
 
 .el-scrollbar__wrap {
     overflow: auto;
 }
 
 .el-tree {
     color: #666666!important;
 }
 
 .el-scrollbar {
     height: 100%;
 }
 
 .treebox {
     .el-scrollbar {
         background: #fff;
     }
 }
 
 .tips {
     text-align: center;
     padding-top: 20%;
     font-size: 14px;
     color: #999;
 }
 
 .el-loading-spinner {
     i,
     .el-loading-text {
         color: #999!important;
     }
 }
 
 .app-container {
     display: flex;
     flex-direction: column;
     align-content: stretch;
     align-items: stretch;
     height: 100%;
     box-sizing: border-box;
     .containerbox {
         flex: 1;
         display: block;
         height: 72%;
         padding: 0 20px;
         &.el-row {
             padding: 0;
             ;
         }
     }
 }
 
 .table-btns {
     padding: 20px 0;
 }
 
 .smtitle {
     font-size: 14px;
     color: #333333;
     font-weight: bold;
     &::before {
         content: "";
         width: 4px;
         height: 16px;
         background-color: #a4c2fb;
         margin-right: 7px;
         display: inline-block;
         vertical-align: text-top;
     }
 }
 
 .form-footer {
     text-align: center;
 }
 
 .absolute-bottom {
     position: absolute;
     bottom: 0;
     padding: 20px;
     background: #fff;
     left: 0;
     right: 0;
     border-top: 1px solid #ebeef5;
 }
 
 @media screen and (max-width:768px) {
     .comheight {
         height: auto!important;
         margin-bottom: 10px;
     }
     .treebox .el-tree {
         padding-bottom: 30px;
     }
 }