 /**
 * 通用css样式布局处理
 */
 
 .el-tree-node {
     margin: 10px 5px;
 }
 
 .el-pagination {
     padding: 10px 15px!important;
 }
 
 .el-table th {
     color: #565656!important;
     //  padding: 18px 0!important;
     height: 60px;
     background-color: #f7f8fe!important;
 }
 
 .el-table td {
     height: 54px;
 }
 
 .el-table--border th,
 .el-table--border td {
     border-right: 1px solid #ebeef5!important;
 }
 
 .el-table--group,
 .el-table--border {
     border: 1px solid #ebeef5!important;
     border-bottom: none!important;
 }
 
 .el-table .caret-wrapper {
     width: 14px!important;
     margin-left: 5px;
 }
 
 .el-table .sort-caret {
     left: 2px!important;
 }
 
 .el-table--border th:first-child .cell,
 .el-table--border td:first-child .cell {
     padding-left: 20px;
     ;
 }
 
 .el-table .cell {
     padding-left: 20px;
     padding-right: 20px;
     ;
 }
 
 .wrapperbox>.el-row {
     height: 100%;
 }
 
 .treebox {
     .el-tree {
         padding: 10px;
         box-sizing: border-box;
     }
 }
 
 .bg-white {
     background: #fff;
     border-radius: 3px;
     margin-bottom: 10px;
 }
 
 .comheight {
     margin-bottom: 0;
     height: 100%
 }
 
 .infobox {
     line-height: 1.5;
     padding: 15px 20px 15px 30px;
     height: 100%;
     overflow: auto;
     .el-input--medium .el-input__inner {
         height: 54px;
         line-height: 54px;
     }
 }
 
 .el-input-number--medium {
     width: 150px;
 }
 
 .el-input--medium .el-input__inner {
     height: 40px;
     line-height: 40px;
 }
 
 .el-input-number.is-controls-right[class*=medium] [class*=increase],
 .el-input-number.is-controls-right[class*=medium] [class*=decrease] {
     line-height: 19px;
 }
 
 .equipInfobox {
     text-align: left;
     padding: 0 20px;
     font-size: 14px;
     h6 {
         font-size: 14px;
         margin: 0 0 10px;
         ;
     }
     .el-col {
         margin-bottom: 10px;
         label {
             background: #f5f5f5;
             display: inline-block;
             margin-right: 10px;
             min-width: 100px;
             padding: 5px 5px;
             border-radius: 3px;
             text-align: center;
             font-weight: normal;
         }
         span {
             display: inline-block;
         }
     }
 }
 
 .search-box {
     background: #fff;
     padding: 20px 20px 10px;
     margin-bottom: 20px;
     box-shadow: 0px 2px 4px #f5f5f5;
     border-radius: 4px;
     .el-form {
         .el-form-item {
             margin-bottom: 10px;
         }
     }
 }
 
 .onlyform-box {
     height: 100%;
     position: relative;
     padding-bottom: 90px;
     .el-form .el-form-item {
         margin-bottom: 22px;
     }
 }
 
 .el-form {
     padding-right: 30px;
 }
 
 .el-form-item__label {
     font-weight: normal;
 }
 
 .search-box {
     .el-dropdown {
         margin-right: 10px;
     }
 }
 
 .el-scrollbar__wrap {
     overflow: auto;
 }
 
 .el-tree {
     color: #666666!important;
 }
 
 .el-scrollbar {
     height: 100%;
     padding: 5px 0;
 }
 
 .treebox {
     .el-scrollbar {
         background: #fff;
     }
 }
 
 .tips {
     text-align: center;
     padding-top: 20%;
     font-size: 14px;
     color: #999;
 }
 
 .el-loading-spinner {
     i,
     .el-loading-text {
         color: #999!important;
     }
 }
 
 .app-container {
     display: flex;
     flex-direction: column;
     align-content: stretch;
     align-items: stretch;
     height: 100%;
     box-sizing: border-box;
     .containerbox {
         flex: 1;
         display: block;
         height: 72%;
         padding: 0 20px;
         &.el-row {
             padding: 0;
             ;
         }
     }
 }
 
 .table-btns {
     padding: 20px 0;
 }
 
 .smtitle,
 .form-smtitle {
     font-size: 14px;
     color: #333333;
     font-weight: bold;
     &::before {
         content: "";
         width: 4px;
         height: 16px;
         background-color: #a4c2fb;
         margin-right: 7px;
         display: inline-block;
         vertical-align: text-top;
     }
 }
 
 .form-smtitle {
     font-size: 18px;
     margin-bottom: 40px;
     margin-top: 10px;
     margin-left: 10px;
     &::before {
         background-color: #4473f2;
         margin-right: 10px;
         height: 18px;
     }
 }
 
 .marginBottom30 {
     margin-bottom: 30px;
     margin-left: 0;
 }
 
 .form-footer {
     text-align: center;
 }
 
 .absolute-bottom {
     position: absolute;
     bottom: 0;
     padding: 20px;
     z-index: 11;
     background: #fff;
     left: 0;
     right: 0;
     border-top: 1px solid #ebeef5;
 }
 
 .el-row-box {
     padding: 15px 10px 5px;
 }
 
 
 //  开关
 .el-switch__label * {
     line-height: 24px;
     font-size: 12px;
     display: inline-block;
 }
 
 .switchStyle .el-switch__label {
     position: absolute;
     display: none;
     color: #a6b3d2;
     height: 24px;
     text-align: center;
     &.is-active {
         color: #fff;
     }
 }
 
 .switchStyle .el-switch__label--left {
     z-index: 9;
     left: 8px;
 }
 
 .switchStyle .el-switch__label--right {
     z-index: 9;
     left: -16px;
 }
 
 .switchStyle .el-switch__label.is-active {
     display: block;
 }
 
 .switchStyle.el-switch .el-switch__core,
 .el-switch .el-switch__label {
     width: 54px !important;
 }
 
 .el-dropdown-menu {
     width: 116px;
 }
 
 //  按钮样式
 .el-button--primary {
    color: #fff;
    background-color: #418bff;
    border-color: #418bff;
}
 .el-button--primary.is-plain {
     color: #558cf7;
     background: #ffffff;
     border-color: #558cf7;
 }
 
 .el-button--info.is-plain {
     color: #333333;
     background: #ffffff;
     border-color: #ebeef5;
 }
 
 .el-button--primary.is-plain:hover,
 .el-button--primary.is-plain:focus {
     background: #f1f6ff;
     border-color: #558cf7;
     color: #418bff;
 }
 
 .el-button--info.is-plain:hover,
 .el-button--info.is-plain:focus {
     background: #f6f6f6;
     border-color: #eaeef6;
     color: #333333;
 }
 
 .el-input.is-disabled .el-input__inner {
     background-color: #f7f7f7;
     border-color: #ebeef5;
     color: #C0C4CC;
     cursor: not-allowed;
 }
 
 @media screen and (max-width:768px) {
     .comheight {
         height: auto!important;
         margin-bottom: 10px;
     }
     .treebox .el-tree {
         padding-bottom: 30px;
     }
 }