 @media screen and (max-width:1366px) {
     .el-table {
         //  &.middletable {
         //      height: auto!important;
         //  }
         min-height: 180px;
     }
 }
 
 @media screen and (max-width:768px) {
     .comheight {
         height: auto!important;
         margin-bottom: 10px;
     }
     .treebox .el-tree {
         padding-bottom: 30px;
     }
     .el-col-push-1 {
         left: 0;
     }
     .el-pagination {
         white-space: initial;
     }
     .dragleft,
     .dragright {
         width: 100%!important;
     }
     .mobilewrapper {
         &.screenbg {
             padding: 20px 0;
             overflow: auto;
         }
         &.userwarp {
             background-size: cover!important;
         }
         .topdata {
             width: 100%;
         }
         .count-box {
             font-size: 12px!important;
         }
         .boxheight1 {
             height: 25vh!important;
             .ledgebox {
                 right: 5%;
                 top: 29%;
             }
             .circlebox-lx {
                 top: 10%;
                 left: 16%;
             }
         }
         .smboxheight3 {
             height: 19vh!important;
         }
         .ledgeright1 {
             margin-left: -3%!important;
         }
         .circlebox {
             padding: 3% 0% 2%!important;
         }
         .commonchart {
             display: none!important;
         }
         .smbarbox span {
             top: 20%!important;
         }
         .img_title {
             width: 51%!important;
             height: auto!important;
         }
         .tophead {
             padding: 20px 0px 20px!important;
             ;
         }
     }
     .el-table {
         height: auto!important;
         min-height: 400px;
     }
     .icon-body {
         width: 100%;
     }
 }