/deep/.el-tree {
  .el-tree-node:focus > .el-tree-node__content {
    background: none !important;
}
  .el-tree-node__label:hover {
    color: #418bff;
  }

  .el-tree-node__content,.el-tree-node__content:hover {
    min-width: 250px;
     background: none !important;
  }
  .el-tree-node__expand-icon {
    border: 1px solid #dcdfe4;
    width: 14px;
    line-height: 12px;
    height: 14px;
    margin-right: 5px;
    padding: 0;
    position: relative;
    text-align: center;
    border-radius: 3px;
    display: block;
    // font-size: 20px;
    // background: #f00;
    &:before {
      content: "+";
      font-size: 14px;
    }
    &.is-leaf {
      background: url(../../../assets/image/ic_project.png) no-repeat;
      border: none;
      background-size: 100%;
      &:before {
        content: "+";
        font-size: 24px;
      }
    }
    &.expanded {
      //background: #ff0;
      transform: rotate(0);
      &:before {
        content: "";
        background: #dcdfe4;
        height: 1px;
        top: 50%;
        width: 50%;
        display: block;
        left: 50%;
        transform: translateX(-50%);
        position: absolute;
      }
    }
  }
  .el-tree-node {
    .custom-tree-node {
      position: relative;
      &:before {
        position: absolute;
        content: "";
        width: 14px;
        height: 14px;
        //这里background替换成图标
        background: url(../../../assets/image/ic_project.png) no-repeat;
        background-size: 100%;
        left: -22px;
        top: 2px;
      }
    }
    &.is-current {
      & > .el-tree-node__content {
        min-width: 250px;
        color: #558cf7;    
        background: none;
        .el-tree-node__label{
          background-color: #f1f6fe;
        
      }

        .is-leaf {
          background: url(../../../assets/image/ic_project_on.png) no-repeat;
          border: none;
          background-size: 100%;
          &:before {
            content: "+";
            font-size: 24px;
          }
        }
      }
    }
  
    .is-expanded.is-current.is-focusable {
      color: #666 !important;
    }
    .is-expanded {
      &.is-current {
        &.is-focusable {
          color: #558cf7;
        }
      }
    }
    .el-tree-node__content {
      height: 32px;
      &>.el-tree-node__label{
        display: inline-block;
        height: 26px;
        padding-left:5px;
        padding-right:10px;
        line-height: 26px;
      }
    }
    &:last-child {
      position: relative;
      &:before {
        content: "";
        height: 100%;
        background: #fff;
        position: absolute;
        width: 1px;
        left: -6px;
        top: 14px;
      }
    }
    padding: 0;
    margin: 0 5px;
    //  background: url(/assets/images/line.png);
    & > .el-tree-node__children {
      overflow: visible;
      // background: #f00;
      border-left: 1px dotted #dcdfe4;
      margin-left: 7px;
    }
    & > .el-tree-node__children {
      position: relative;
      & > .el-tree-node {
        & > .el-tree-node__content {
          position: relative;
          margin-left: 6px;
          &:before {
            content: "";
            width: 24px;
            position: absolute;
            border-top: 1px dotted #dcdfe4;
            left: -10px;
          }
          & + .el-tree-node__children {
            margin-left: 30px;
            & > .el-tree-node {
              & > .el-tree-node__content {
                position: relative;
                left: -16px;
                &:before {
                  left: 7px;
                }
                & + .el-tree-node__children {
                  margin-left: 32px;
                  & > .el-tree-node {
                    & > .el-tree-node__content {
                      position: relative;
                      left: -36px;
                      &:before {
                        left: 26px;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

// 拖拽
.dragbox {
  .dragleft {
    width: 224px; /*左侧初始化宽度*/
    //   height: 100%;
    float: left;
  }
  .dragresize {
    cursor: col-resize;
    float: left;
    position: relative;
    top: 0;
    width: 8px;
    padding: 0 !important;
    margin-left: -10px;
    padding-right: 20px;
    height: 100%;
    background: #f0f2f6;
    &:hover {
      background: #dfe6f3 !important;
    }
  }
  .dragright {
    float: left;
    width: 68%; /*右侧初始化宽度*/
    height: 100%;
    &.mxright {
      width: calc(100% - 334px);
      padding-right: 0 !important;
    }
  }
  .iconslider {
    position: relative;
    top: 40vh;
  }
}
